.box {
  height: 100px;
  width: 100px;
  background-color: red;
  -webkit-transition: transform 2s;
  -o-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  transition: transform 2s;

}

.box:hover {
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skew(20deg);
}

section, h1 {
  margin: 2rem 4rem;
}

.square {
  width: 150px;
  height: 150px;
  background: blue;
  position: relative;
}

.skew {
  border: 2px solid red;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #ffccff;
  }
  .square {
    background-color: green;
    width: 100px;
    height: 100px;
  }
  .skew {
    border-radius: 5px;
  }
}

/* The skew() method */
#skew .square {
  background-color: purple;
  -webkit-transition: transform 5s;
  -moz-transition: transform 5s;
  -ms-transition: transform 5s;
  -o-transition: transform 5s;
  transition: transform 5s;
}

#skew .square:hover {
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
}

/* The scale() method */
#scale .square div {
  background-color: #000;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 75px;
  height: 75px;
  -webkit-transition: transform 5s, background-color 2s;
  -moz-transition: transform 5s, background-color 2s;
  -ms-transition: transform 5s, background-color 2s;
  -o-transition: transform 5s, background-color 2s;
  transition: transform 5s, background-color 2s;
  
}

#scale .square div:hover {
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
  background-color: blue;
}

/* The rotate() method */
#rotate .square {
  -webkit-transition: transform 15s;
  -moz-transition: transform 15s;
  -ms-transition: transform 15s;
  -o-transition: transform 15s;
  transition: transform 15s;
  background-color: tomato;
}

#rotate .square:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* The translate() method */
#translate .square {
  background-color: orange;
  -webkit-transition: transform 5s ease-out, background 3s 2s;
  -moz-transition: transform 5s ease-out, background 3s 2s;
  -ms-transition: transform 5s ease-out, background 3s 2s;
  -o-transition: transform 5s ease-out, background 3s 2s;
  transition: transform 5s ease-out, background 3s 2s;
}

#translate .square:hover {
  background-color: green;
  -webkit-transform: translateX(900px) rotate(360deg);
  -moz-transform: translateX(900px) rotate(360deg);
  -ms-transform: translateX(900px) rotate(360deg);
  -o-transform: translateX(900px) rotate(360deg);
  transform: translateX(900px) rotate(360deg);
  
}